include ./headerHW.pug
h2=title
br
table(style='width:100%' border=1)
   tr
      th Id
      th Title
      th Author
      th Year
      th Editions
      th price

   each book, index in Books
      tr
         td #{book.id}
         td #{book.title}
         td #{book.author}
         td #{book.year_written}
         td #{book.edition}
         td #{book.price}
br
a(class='btn btn-primary' href='/form' id="btn_destinations" value='Back') Back To Form
br

include ./footerHW.pug